/* general */
/* *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
/* 
html{
	font: normal 16px sans-serif;
	color: #414a4f;
} */

button {

	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

button:hover{
	opacity: 1;
}
/* 
a.btn{
	color: #fff;
	border-radius: 35px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
} */

/* hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
} */
/* 
section {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 25px 0px;
} */
/* 
.maps {
    width: 100%;
    height: 200px;
} */

span.headlines {
	font-weight: 600;
    font-size: 1.1em;
    flex: 1;
}
/* 
@media (max-width: 768px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 50px 40px;
	}

} */

section h3.title{
	color: #414a4f;
	font: bold 1.5em 'Open Sans', sans-serif;
	margin-bottom: 15px;
	text-align: left;
}

section h2{
	text-align: left;
    margin: 0 0 10px 25px;
}

@media (max-width: 768px){
	
	section h3.title{
		color: #414a4f;
		font: bold 1.2em 'Open Sans', sans-serif;
		margin-bottom: 10px;
		text-align: left;
	}

	section h2{
		text-align: left;
		margin: 0 0 10px 10px;
		font: bold 1.1em 'Open Sans', sans-serif;
	}



}

/* architects-info */
/* 
.person-page.architects-info{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 25px 35px 40px;
	position: relative;
	color: #414a4f;
	font: normal 16px sans-serif;
	justify-content: center;
	background-color: #87C6FF;
	
}

.person-page .architects-info {
	display: flex;
    flex-direction: row;
	align-items: center;
	max-width: 1024px;
}

.person-page .name-architects {
	margin: 0 0 10px 0;
}

.person-page .name-architects-source {
	color: #414a4f;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

.person-page .inform-architects {
	margin: 0 0 10px 0;
}

.person-page .yers-life-architects {
	display: flex;
    align-items: baseline;
    margin: 0 0 10px 0;
}

.person-page .city-birth-architects {
	display: flex;
    align-items: baseline;
    margin: 0 0 10px 0;
}

.yers-life-architects .source-life,
.city-birth-architects .source-birth {
	flex: 2;
    font-size: 1.1em;
}

.person-page .foto-architects {
	text-align: center;
    flex: 1;
}

.person-page .source-foto{
	width: 50%;
	border-radius: 5px;
	border: 3px solid #87C6FF;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.199);
}

.person-page .box-information {
    flex: 2;
}

.person-page .form-architects-source{
	text-indent: 30px;
}

.person-page.architects-info h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.person-page.architects-info a.btn{
	padding: 20px 46px;
}


@media (max-width: 768px){

	.person-page .name-architects-source {
		text-align: justify;
	}

	.person-page.architects-info{
		min-height: 320px;
	}

	.yers-life-architects .source-life,
	.city-birth-architects .source-birth {
		font-size: 1.1em;
	}

	.person-page .foto-architects {
		text-align: center;
		width: 50%;
	}

	.person-page .architects-info {
		display: flex;
		flex-direction: column;
	}

	.person-page .yers-life-architects,
	.person-page .city-birth-architects {
		margin: 0 0 10px 0;
	    display: block;

	}

	.person-page .name-architects {
		margin: 30px 0 20px 0;
		text-align: center;
	}

	.person-page .inform-architects {
		margin: 0 0 10px 0;
	}

}

@media (max-width: 840px){
	.person-page .source-foto {
		width: 60%;
	}
} */

/* timeline */

/* .person-page.timeline {
	display: flex;
    flex-direction: column;
	margin: 0 auto;
	position: relative;
	padding: 20px;
	height: 50vh;
	background-color: #D6E3FF;
	max-width: 1024px;
}

.person-page .timeline-container {
	margin: 0 15px 15px 15px;
	height: 100%;
}

@media (max-width: 768px){

	.person-page .timeline-container {
		margin: 0 5px 5px 5px;
		height: 100%;
	}

} */

/* jobs */

/* .person-page.jobs{
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	padding: 20px;
	margin: 0 auto;
	position: relative;
	color: #414a4f;
	background-color: #EDEDED;
}

.person-page .name-works-list{
	padding: 0px 0 15px 40px;
	margin: 0 30px;
	font-size: 1.2em;

}

.jobs .name-works-list li{
	list-style: none;
    margin-bottom: 5px;
}


@media (max-width: 1000px){


}


@media (max-width: 768px){

	.person-page .name-works-list{
		padding: 0px 0 10px 5px;
		margin: 0 20px;
		font-size: 0.9em;
	
	}
	
} */

/* gallery */
/* 
.person-page.gallery {
	padding: 20px;
    margin: 0 auto;
    position: relative;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #D6E3FF;
}



.person-page .foto-works {
	width: 99%;
    margin: 5px;
	
}

.person-page .gallery-foto{
	text-align: center;
	margin: 0 5px;
	align-items: center;
	overflow: hidden;
	display: flex;
}
 */

/* video */
/* 
.person-page.video {
	padding: 20px;
    margin: 0 auto;
    position: relative;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #EDEDED;
}

.person-page .gallery-video {
	display: flex;
    justify-content: center;
}

.person-page .video {
	flex: 1;
	width: 230px;
    margin: 5px;
	
} */


/* map */
/* 
.person-page.map-box{
	max-width: 1024px;
	margin: 0 auto;
	background-color: #D6E3FF;
}


@media (max-width: 768px){
	.person-page.map-box{
		max-width: 1024px;
    	padding: 0 10px;
	}

} */

/* carusel */
/* .carousel-container {
	list-style-type: none;
	padding: 0;
	margin: 30px auto;
	max-width: 100%;
	width: 700px;
	height: 100%;
	border-radius: 5px;
	position: relative;
  }
  .carousel-container .arrow {
	cursor: pointer;
    background: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.5);
    display: block;
    width: 50px;
    font-size: 60px;
    text-align: center;
    margin: 25% 0;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: 9999;
    padding-top: 2%;
    border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  .carousel-container .arrow.back {
	left: 0px;
	background: linear-gradient(to right, rgba(0,0,0,0.5), transparent);
  }
  .carousel-container .arrow.back::before {
	content: "\2039";
  }
  .carousel-container .arrow.next {
	right: 0px;
	background: linear-gradient(to left, rgba(0,0,0,0.5), transparent);
  }
  .carousel-container .arrow.next::before {
	content: "\203a";
  }
  .carousel-container .arrow:hover {
	color: #fff;
  }
  .carousel-container li:nth-child(1) > .dot {
	margin-left: 50px;
  }
  .carousel-container .carousel-content {
	height: 0;
	overflow: hidden;
	line-height: 22px;
	background: #D6E3FF;
	position: absolute;
	top: 0px;
	border-radius: 5px;
	list-style-type: none;
	padding: 0;
  }
  .carousel-container .carousel-content img {
	opacity: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	max-width: 100%;
	border-radius: 2px;
	transition: 0.2s ease-in;
  }

  .carousel-container .dot {
	float: left;
	cursor: pointer;
	opacity: 1;
	width: 12px;
	height: 12px;
	background: rgba(255,255,255,0.5);
	position: relative;
	margin-top: 56%;
	margin-bottom: 2%;
	border-radius: 50%;
	z-index: 999;
	margin-right: 8px;
	display: block;
	border: 1px solid #D6E3FF;
  }
  .carousel-container .dot:hover {
	background: #fff;
  }
  .carousel-container .carousel-toggle {
	display: none;
  }
  .carousel-container .carousel-toggle:checked + .dot,
  .carousel-container .carousel-toggle.active + .dot {
	background: #fff;
  }
  .carousel-container .carousel-toggle:checked ~ .carousel-content,
  .carousel-container .carousel-toggle.active ~ .carousel-content {
	height: 100%;
	width: 100%;
  }
  .carousel-container .carousel-toggle:checked ~ .carousel-content img,
  .carousel-container .carousel-toggle.active ~ .carousel-content img {
	opacity: 1;
  }

  
@media (max-width: 320px){
	
	.carousel-container .dot {
		width: 8px;
		height: 8px;
		background: rgba(255,255,255,0.5);
		position: relative;
		margin-top: 56%;
		margin-bottom: 2%;
		border-radius: 50%;
		margin-right: 2px;
	}

}

@media (max-width: 768px){
	
	.carousel-container .dot {
		width: 10px;
		height: 10px;
		background: rgba(255,255,255,0.5);
		position: relative;
		margin-top: 56%;
		margin-bottom: 2%;
		border-radius: 50%;
		margin-right: 4px;
	}

} */
  