@media only screen and (max-width: 992px) {
	.button_language span {
		display: none;
	}
}
@media only screen and (max-width: 768px) {
	.section {
		text-align: center;
	}
	.header-container {
		text-align: center;
	}
	.h1 {
		font-size: 2.5rem;
	}
	.nav__button {
		width: 120px;
		font-size: 1rem;
		padding: 7px 0;
	}
	.button_language img {
		width: 50px;
	}
}
@media only screen and (max-width: 480px) {
	.architect-short-info__content {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.architect-short-info__button {
		display: none;
	}
}
@media only screen and (max-width: 472px) {
	.header__content {
		justify-content: center;
	}
	.header__nav {
		left: inherit;
		bottom: -37px;
	}
	.nav__button {
		border-bottom: 1px solid #8a8787;
		border-top: 3px solid #c8c8c9;
	}
	.nav__button:hover {
	background-color: #f6f6f6;
	border-top-color: #f6f6f6;
	border-bottom: 1px solid #8a8787;
	}
	.nav__button_active {
	background-color: white;
	border-top-color: white;
	}
	.nav__button_active:hover {
		background-color: white;
		border-top-color: white;
	}
	.description {
		margin-top: 210px;
	}
}