.team {
	margin-bottom: 150px;
}
.team__member {
	display: inherit;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin: 15px;
}
.team__member img {
	border: 3px solid #c8c8c8;
	border-radius: 15px;
}
.team__member-name {
	margin: 10px 0;
}