.architect-short-info__link {
  text-decoration: none;
}

.architect-short-info__link:hover {
  color: inherit;
}

.architect-short-info__content {
  display: flex;
  padding-bottom: 20px;

  border-bottom: 3px dotted #cccccc;
}

.architect-short-info__description {
  position: relative;

  max-height: 120px;
  margin-bottom: 40px;
  overflow: hidden;
}

.architect-short-info__button {
  padding: 10px;

  font-weight: 700;
  color: black;

  background-color: #e4e4e4;
  border-bottom: 4px solid rgb(187, 187, 187);
}

.architect-short-info__button:hover {
  color: white;

  background-color: #f15858;
}

.architect-short-info__button:active {
  margin-top: 3px;

  border-bottom: 1px solid rgb(187, 187, 187);
}

.architect-short-info__more-info {
  display: none;
  margin: 10px 0;
}
