.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  min-height: 120px;

  background-color: #dcdcde;
}

.header-container {
  position: relative;
}

.header__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  margin: 10px 0;

  font-size: 3rem;
}

.header__nav {
  position: absolute;
  bottom: 0;
  left: 20px;
}

.nav__button {
  width: 200px;
  margin: 0 -3px;
  padding: 7px 20px;

  font-size: 1.25rem;

  background-color: #c8c8c8;
  border: 1px solid #8a8787;
  border-bottom: 3px solid #c8c8c9;

  transition: all 0.2s ease;
}

.nav__button:hover {
  background-color: #f6f6f6;
  border-bottom-color: #f6f6f6;
}

.nav__button_active {
  background-color: white;
  border-bottom-color: white;
}

.nav__button_active:hover {
  background-color: white;
  border-bottom-color: white;
}

.header__language {
  align-self: center;
}

.button_language {
  padding: 5px 0;

  font-size: 1.125rem;
  font-family: "Roboto Bold", "Helvetica", sans-serif;
  text-transform: uppercase;

  transition: all 0.2s ease;
}

.button_language img {
  vertical-align: middle;

  transition: all 0.2s ease;
}

.button_language:hover {
  color: #f15858;
}

.button_language:hover img {
  transform: translate(0, -2px);
}
