.person-page.jobs {
  position: relative;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;

  font: normal 16px sans-serif;
  color: #414a4f;
}

.person-page .name-works-list {
  margin: 0 30px;
  padding: 0 0 15px 40px;

  font-size: 1.2em;
}

.jobs .name-works-list li {
  margin-bottom: 5px;

  list-style: none;
}

@media (max-width: 768px) {
  .person-page .name-works-list {
    margin: 0 20px;
    padding: 0 0 10px 5px;

    font-size: 0.9em;
  }
}

.jobs-title {
  margin-top: 0;
  margin-bottom: 15px;

  font: bold 1.6em "Open Sans", sans-serif;
  text-align: left;
  color: #414a4f;
}

.name-works {
  margin: 0 0 10px 25px;

  font: bold 1.4em "Open Sans", sans-serif;
  text-align: left;
}

@media (max-width: 768px) {
  .jobs-title {
    margin-top: 0;
    margin-bottom: 10px;

    font: bold 1.2em "Open Sans", sans-serif;
    text-align: left;
    color: #414a4f;
  }

  .name-works {
    margin: 0 0 10px 10px;

    font: bold 1.1em "Open Sans", sans-serif;
    text-align: left;
  }
}
