.not-found {
  height: 150px;

  text-align: center;

  background-color: #f15858;
}

.not-found__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-size: 1.3rem;
  color: white;
}
