.team__member {
  display: inherit;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.team__member img {
  border: 3px solid #c8c8c8;
  border-radius: 15px;
}

.team__member-name {
  margin: 10px 0;
}
