.person-page.timeline-bio {
	box-sizing: border-box;
	display: flex;
  flex-direction: column;
	margin: 0 auto;
	position: relative;
	padding: 20px;
	background-color: #D6E3FF;
	max-width: 1024px;
}

.person-page .timeline-bio-container {
	margin: 0 15px 15px 15px;
	/* height: 100%; */
}

@media (max-width: 768px){

	.person-page .timeline-bio-container {
		margin: 0 5px 5px 5px;
		height: 100%;
	}

}

.timeline-bio-title{
	color: #414a4f;
	font: bold 1.6em 'Open Sans', sans-serif;
	margin-top: 0;
	margin-bottom: 15px;
	text-align: left;
}

@media (max-width: 768px){

	.timeline-bio-title{
		color: #414a4f;
		font: bold 1.2em 'Open Sans', sans-serif;
		margin-top: 0;
		margin-bottom: 15px;
		text-align: left;
	}
}
