.person-page.video {
	box-sizing: border-box;
	padding: 20px;
  margin: 0 auto;
  position: relative;
  font: normal 16px sans-serif;
	color: #414a4f;
	max-width: 1024px;
}

.person-page .video {
	flex: 1;
	width: 230px;
  margin: 5px;
}

.conteiner-video {
	margin: 25px 0;
	text-align: center;
}

.gallery-video {
  background-color: #e4e4e4;
  color: black;
  font-weight: 700;
  padding: 10px;
  border-bottom: 4px solid rgb(187, 187, 187);
}

.gallery-video:hover {
  background-color: #f15858;
  color: white;
}

.gallery-video:active {
  margin-top: 3px;
  border-bottom: 1px solid rgb(187, 187, 187);
}
